
{% extends 'imagenest/base.html' %}
{% load staticfiles %}

<!--* Head: -->
<!-- empty space to give a specific message in login or register pages if needed: -->
{% block title_block %}
Welcome to ImageNest
{% endblock %}


<!--* Body: -->
{% block header_block %}
{% endblock %}

{% block body_block %}
<div class="row vh-100 custom-bg">
        <div class="col align-self-center">

            <h1 class="text-center py-5">Welcome to <span class="logo-text underline">ImageNest</span></h1>

            <form id='register_and_login_form' method='POST'>
                {% csrf_token %}
                <!-- vertically stacked layout: -->
                <div class="vstack gap-2 col-md-5 mx-auto text-decoration-none text-danger">

                    {% if success %}
                        <p class="alert alert-success">{{ success }}</p>
                    {% endif %}

                    {% block form_block %}
                    {% endblock %}

                    <!-- horizontally stacked: -->
                    <div class="hstack gap-3">
                        <div class="row">
                            <div class="col-auto">
                                {% block primary_btn_block %}
                                {% endblock %}
                            </div>
                            <div class="col-auto my-2">
                                {% block redirect_message_block %}
                                {% endblock %}
                            </div>

                        </div>
                    </div>

            </form>

            <div class="row my-2">
                <div class="col text-danger">
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}