{% extends 'imagenest/base.html' %}
{% load staticfiles %}

<!--* Head: -->
<!-- empty space to give a specific message in login or register pages if needed: -->

{% block title_block %}

ImageNest -
{% block page_title_block %}
{% endblock %}

{% endblock %}


<!--* Body: -->
{% block body_block %}
<!-- to center elt: position-absolute top-0 start-50 translate-middle-x -->
<div id="body" class="w-75 mx-auto">
    <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-white bg-light p-4">
            <!-- hyper link to the current page -->
            <a class="navbar-brand" href="./">
                <img src="https://seeklogo.com/images/T/Temp-logo-AB919E2100-seeklogo.com.gif" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                ImageNest
            </a>

            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

            <div class="collapse navbar-collapse" id="headerMenu">
                <div class="navbar-nav">
                    <!-- Menu items: -->
                    <a class="nav-item nav-link {% block activate_home_tab %}{% endblock %}"
                        href="{% url 'home' %}">Home</a>
                    <a class="nav-item nav-link {% block activate_profile_tab %}{% endblock %}"
                        href="{% url 'profile' %}">Profile</a>
                    <a class="nav-item nav-link {% block activate_top_images_tab %}{% endblock %}"
                        href="{% url 'top_images' %}">Top
                        images</a>
                    <a class="nav-item nav-link disabled" href="#">Log out</a>

                </div>
            </div>

            <!-- Search function: -->
            <div class="float-end mx-1">
                <a href="{% url 'search' %}" class="btn btn-outline-primary">Search</a>
                <a href="#" class="btn btn-primary">Add picture</a>
            </div>

        </nav>
    </div>


    <div class="row w-100 mx-auto my-4 h-auto bg-info">
        <!-- ! to delete and replace by a for loop: -->

        {% for image in images.values %}

        <div class="row">


            <!-- username column: -->
            <div class="col-3 bg-secondary text-end">
                {% block col1_block %}
                {% if image %}
                By @{{ image.username }}
                {% endif %}
                {% endblock %}
            </div>
            <!-- image column: -->
            <div class="col-6 bg-danger py-1 overflow-auto">
                {% block col2_block %}
                <img class="img-fluid" src="{{ image.url }}" alt="">
                {% endblock %}

                <!-- Like button and text row inside image column: -->
                <div class="row py-2">
                    <div class="col-1">
                        👍
                    </div>
                    <!-- number of likes and usernames: -->
                    <div class="col-6 w-auto ">
                        {% if image.likes < 3 %}
                        {{ image.likes }} Like by 
                        {% for liker in image.likers %}
                        {{liker}}
                        {% endfor %}.

                        {% else %}
                        {{ image.likes }} Likes by 
                        <!-- only 3 usernames to be shown: -->
                        {% for liker in image.likers|slice:":3" %}
                        {{ liker}}
                        {% endfor %}
                        and others.
                        {% endif%} 
                        
                    </div>
                </div>

            </div>
        </div>

        <!-- spacer: -->
        <div class="row py-2"></div>

        {% endfor %}
    </div>


</div>


{% endblock %}