{% extends 'imagenest/first_page.html' %}
{% load staticfiles %}

<!--* Form: -->
{% block form_block %}

{% for hidden in register_form.hidden_fields %}
{{hidden}}
{% endfor %}

{% for field in register_form.visible_fields %}
{{ field.errors }}
{{ field.help_text }}
{{ field }}
{% endfor %}


{% endblock %}

<!--* Submit button and message: -->
{% block primary_btn_block %}
<button class="btn btn-primary" type="submit">Register</button>
<!-- <input type="submit" value="Register" class="btn btn-primary"> -->

{% endblock %}

{% block redirect_message_block %}
<p class="text-light">Registered before? <a href="/" class="text-light" role="button" aria-disabled="true">Login</a></p>
{% endblock %}