{% extends 'imagenest/menu_pages_template.html' %}
{% load staticfiles %}

{% block page_title_block %}
Search
{% endblock %}

{% block under_menu_inside_a_row %}

<!--* row containing everything: -->
<div class="row my-5 mx-auto w-50">

    <div class="row mt-4">
        <div class="col text-start w-100">
            <h1>Search for a User:</h1>
        </div>
    </div>

    <form id="search_form" action="{% url 'search' %}" method="GET">
        {% csrf_token %}
        <div class="row my-4 g-2">
            <div class="col">
                {% for field in form.visible_fields %}
                    {{ field }}
                {% endfor %}
            </div>
            <div class="col-3 h-100">
                <input type="submit" class="form-control btn-dark" name="submit" value="Search" />
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-auto">
            {% if searchHasBeenUsed is True %}

                {% if userIsFound is True %}
                    Username has been found:
                    <a href="{% url 'profile' results %}" class="list-group-item list-group-item-action">{{ results }}</a>

                {% else %}
                    User not found.

                    {% if areSimilarUsers is True %}
                        Did you mean: </br>
                        <ul class="list-group">
                        {% for user in results %}
                            <a href="{% url 'profile' user %}" class="list-group-item list-group-item-action">{{ user }}</a>
                        {% endfor %}
                        </ul>
                    {% endif %}

                {% endif %}
            
            {% endif %}
        </div>


    </div>
</div>


{% endblock %}