{% extends 'imagenest/base.html' %}
{% load staticfiles %}

{% block title_block %}
Search
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
     <div class="container">
          <h1 class="jumbotron-heading">Search for a user</h1>
     </div>
</div>

<div>
    <form id="search_form" method="get" action="{% url 'rango:search_user' %}">
        {% csrf_token %}
        <input type="text" name="username" value="" size="50" />
        <input type="submit" name="submit" value="Search" /></br>
    </form>
</div>

<div>
    {% if found is False %}
        User not found.
        {% if similar %}
            Did you mean: </br>
            {% for r in results %}
                <li> {{ r }} </li> </br>
            {% endfor %}
        {% endif %}

    {% else %}
        {% if results %}
            {{ results }}
        s{% endif %}
    {% endif %}
</div>
{% endblock %}