{% extends 'imagenest/base.html' %}
{% load staticfiles %}

{% block title_block %}
Search
{% endblock %}

{% block body_block %}
<div>
    <h1>Search for a User</h1>
    <form id="search_form" method="get">
        {% csrf_token %}
        <input type="text" name="username" value="" size="50" />
        <input type="submit" name="submit" value="Search" /></br>
    </form>
</div>

<div>
    {% if userIsFound is True %}
        {{ results }}
    {% else %}
        User not found.
        {% if areSimilarUsers %}
            Did you mean: </br>
            {% for r in results %}
                <li> {{ r }} </li>
            {% endfor %}
        {% endif %}
    {% endif %}

</div>
{% endblock %}