{% extends 'imagenest/menu_pages_template.html' %}
{% load staticfiles %}

{% block page_title_block %}
Upload picture
{% endblock %}

{% block under_menu_inside_a_row %}

<div class="row my-5 mx-auto w-50">

    <div class="row my-4 mx-auto">
        <div class="col">
            <h1>Upload image as @<span class="underline">{{ uploader }}</span>:</h1>
        </div>
    </div>

    <form id="upload_form" method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
        <div class="row my-4 mx-auto">
            <div class="col h-100">
                {% csrf_token %}
                {% for hidden in upload_form.hidden_fields %}
                {{hidden}}
                {% endfor %}


                <div class="py-1">Upload via:</div>
                {% for field in upload_form.visible_fields %}
                <div class="col mb-2">
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}

                    <!-- display "Or" only once; in between the 2 fields: -->
                    {% if forloop.counter == 1 %}
                        <div class="py-1"> Or </div>
                    {% endif %}

                </div>
                {% endfor %}
            </div>

        </div>

        <div class="row mx-auto">
            <div class="col">
                <input type="submit" class="form-control btn-dark" name="submit" value="Upload" />
            </div>
        </div>
    </form>

    <div class="row mx-auto my-3">
        <div class="col text-danger">
            {% if error_message %}
                {{ error_message }}
            {% endif %}
        </div>
    </div>
    

</div>
{% endblock %}